
$color_yellow: #FFE81F;
$color_yellow_hover: #fffc28;
$color_yellow_active: #ffd813;

body {
  color: $color_yellow !important;
}

.main-button {
  height: 40px;
  padding: 0 20px;
  border: 1px solid #000000;
  outline: none;
  cursor: pointer;
  background: #ffffff;
  border-radius: 20px;
}

.ant-tabs-bar {
  border: none;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
  background: transparent;
  color: $color_yellow;
  border-color: $color_yellow;

  &:hover {
    //color: $color_yellow_hover;
  }

  &-active {
    background: $color_yellow;
    color: black;
    font-weight: bold;
    opacity: 1;
  }
}

