
$color_yellow: #FFE81F;
$color_yellow_hover: #fffc28;
$color_yellow_active: #ffd813;

body {
  color: $color_yellow !important;
}

.main-button {
  height: 40px;
  padding: 0 20px;
  border: 1px solid #000000;
  outline: none;
  cursor: pointer;
  background: #ffffff;
  border-radius: 20px;
}


