@import "../../assets/style/global";

.person-details {
  display: flex;
  position: relative;
  z-index: 10;
  margin-top: 48px;
  justify-content: center;
  color: $color_yellow;
}

.person-details-description {
  margin-left: 36px;
}

.person-details-name {
  font-size: 48px;
  margin-bottom: 24px;
}

.person-details-block {
  display: flex;
  margin-bottom: 16px;
  font-size: 16px;

  &-first {
    font-weight: bold;
    margin-right: 8px;
  }
}

.tab-item {
  color: $color_yellow;
}