@import "../../assets/style/global";

.header {
  z-index: 100;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 1100px;
  margin: 0 auto;

  a {
    color: white;

    &:last-child {
      margin-left: 36px;
      &:hover {
        color: $color_yellow;
      }
    }
  }

  .active {
    color: $color_yellow;


  }
}